.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;

/*   opacity: .15;
*/
   opacity: .80;
   filter: alpha(opacity=60);
   -moz-opacity: .60;
   z-index: 101;
   display: none;
}

.web_dialog
{
   display: none;
   position: fixed;
   width: 600px;
   height: 600px;
   top: 50%;
   left: 40%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #0087cc;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
}



.web_dialog_title
{
   border-bottom: solid 2px #336699;
   background-color: #336699;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a
{
   color: White;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}