/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
 font-family: Arial;

}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.container {
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
  max-width: 1254px;

}


@font-face {
  font-family: 'TheBattleCont';
  src: url('TheBattleCont.ttf') format('truetype');
}

@font-face {
  font-family: 'Whoa!';
  src: url('whoa!.ttf') format('truetype');
}


#logo {

	font-size: 1000%;
  font-family: 'TheBattleCont', serif;
  color: rgba(76, 0, 153, 0.8);
  text-align: center;
	border-radius: 7px;
  margin-top: 7px;
  background: rgba(255, 255, 255, 0.25);
  height: 1.5em;
  padding-top: .25em;
}

.btn {
  margin-bottom: 3px;
  width: 100%;
  height: 3em;
  display: block;
	border: 0;
	text-align: center;
	font-weight: 600;
	background-color: #fff8dc;
	color: black;
  border-radius: 7px;
  padding: 1em;

}

.buttonholder {
	text-align:center;
}

aside {
	width: 27%;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255,255,255,0.75);  
  margin-top: 12px;
  border-radius: 7px;
  overflow-y: scroll;
}

article.tweet {
  padding: 1em;
  width: 100%;
	color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  background-color: rgba(255,255,255,0.75); 
}

.middleSection{
  margin-top: 1%;
  width: 44%;
  display: inline-block;

}

.tweetSection {
	width: 100%;
  border-radius: 7px;
  max-height: 850px;
  overflow-y: scroll;
}

body {
  overflow-y: scroll;
}

#dialog {
  overflow-y: scroll;
}


.followedSection {
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 1em;
  padding-top: 1em;
  font-family: 'TheBattleCont', serif;
  font-size: 2em;   
}

#sendTweetSection {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1em;  
  margin-left: 1%;
  margin-top: 1%;
}

input, textarea {
  width: 100%;
  height: 2em;
  font-size: 100%;
  padding: 10px;
  background-color: #fff8dc;
}

html {
  background-image: url("whitebrick.jpg");
  background-size: 150%;
  background-attachment: fixed;

}

.followedUsers li {
  margin-top: .5em;
}

.user{
  text-decoration: none;
}

#submit{
  padding: 0;
}

#userMessage, #userName {
  margin-top: 3px;
  margin-bottom: 3px;
}
